.projectView {
  margin: 24px;

}

.projectView .projectView__image {
  margin: 0 auto;
  /* background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
}