.animation {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.animationImage {
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
